body { background: #bef349; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 55px; display: flex; }
.block-uploader-0 { color: #321e2a; font-size: 20px; margin-bottom: 5px; }
.block-logger-1 { color: #31656e; font-size: 12px; margin-bottom: 5px; }
.block-email-2 { color: #2902e9; font-size: 17px; margin-bottom: 5px; }
.block-email-3 { color: #b07745; font-size: 15px; margin-bottom: 5px; }
.block-config-4 { color: #6f1de8; font-size: 13px; margin-bottom: 5px; }
.block-search-5 { color: #2fae93; font-size: 18px; margin-bottom: 5px; }
.block-config-6 { color: #26b848; font-size: 14px; margin-bottom: 5px; }
.block-logger-7 { color: #6a3f80; font-size: 13px; margin-bottom: 5px; }
.block-filter-8 { color: #a77d67; font-size: 20px; margin-bottom: 5px; }
.block-uploader-9 { color: #d10ba4; font-size: 19px; margin-bottom: 5px; }